
.lista-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: .5rem;
  align-items: center;
  border-bottom: 2px solid gray;
}
.lista-item .child{
  display: inline-flex;
  flex-direction: column;
  margin-right: 2rem;
}
.channel {
  padding: .5rem;
  text-align: center;
  width: 15%;
}
.link {
  width: 50%;
}
.creator {
  width: 30%;
}