.lista-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: .5rem;
  align-items: center;
  border-bottom: 2px solid gray;
}
.lista-item .child{
  display: inline-flex;
  flex-direction: column;
  margin-right: 2rem;
}
.channel {
  padding: .5rem;
  text-align: center;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  width: 15%;
}
.link {
  width: 40%;
}
.creator {
  width: 20%;
}
.channel-topic {
  width: 10%;
}
.a-link, .a-link:link, .a-link:visited{
  text-decoration: none;
  color: black;
}

.votes {
  width: 20%;
}